<mat-toolbar color="primary" class="mat-elevation-z4">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <mat-icon class="app-icon">beenhere</mat-icon>
  <span>ToDoIT</span>
  <span class="fill-remaining-space"></span>
  <button mat-button class="mat-icon-button">
    <mat-icon>info</mat-icon>
  </button>
  <button mat-button class="mat-icon-button">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-nav-list *ngIf="categoryList.length > 0">
      <mat-list-item>
        <a matLine href="#">All Items</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine href="#">No Category</a>
      </mat-list-item>
      <mat-toolbar class="toolbar-heading">Categories</mat-toolbar>
      <mat-list-item *ngFor="let category of categoryList">
        <a matLine href="#">{{ category.name }}</a>
        <span (click)="deleteCategory(category)">
          <mat-icon>delete</mat-icon>
        </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
