<mat-toolbar>
  <!--<button mat-button color="accent" class="back-button">-->
    <!--<mat-icon aria-hidden="false">arrow_back</mat-icon>-->
  <!--</button>-->
  <span class="page-toolbar-title">Add Category</span>
</mat-toolbar>
<div class="main-container flex-column">
  <mat-form-field>
    <mat-label>Category Name</mat-label>
    <input matInput [formControl]="category" type="text">
    <mat-error *ngIf="category.errors?.required">Category name is required!</mat-error>
  </mat-form-field>
  <div class="flex-row" style="margin-top: 10px">
    <button [class.width-fill]="isHandset$ | async" style="margin: 4px;" mat-raised-button (click)="addNewCategory()">Add</button>
    <button [class.width-fill]="isHandset$ | async" style="margin: 4px;" mat-raised-button>Cancel</button>
  </div>
</div>
