/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-container {
  margin: 20px;
}

.fill-remaining-space {
  flex: auto;
}
.page-toolbar-title {
  margin-left: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.width-fill {
  width: 100%;
}

.height-fill {
  height: 100%;
}
